
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- about-banner area start -->
<div class="about-banner-area-bg jarallax">

</div>
<!-- about-banner area end -->
<!-- counter area start -->
<div class="counter-up-wrapper mt-dec-80">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter-up-one border-top border-left">
                    <div class="icon-area">
                        <img src="~/Content/assets/icons/i-1.png" alt="icon">
                    </div>
                    <p>Accelerate Growth</p>
                    <h3 class="title">+<span class="counter">46</span>%</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter-up-one border-top">
                    <div class="icon-area">
                        <img src="~/Content/assets/icons/i-2.png" alt="icon">
                    </div>
                    <p>Community users</p>
                    <h3 class="title"><span class="counter">2.5</span>M</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter-up-one border-top">
                    <div class="icon-area">
                        <img src="~/Content/assets/icons/i-3.png" alt="icon">
                    </div>
                    <p>Enhance Security</p>
                    <h3 class="title"><span class="counter">89</span>%</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter-up-one border-top">
                    <div class="icon-area">
                        <img src="~/Content/assets/icons/i-4.png" alt="icon">
                    </div>
                    <p>Reduce Costs</p>
                    <h3 class="title"><span class="counter">720</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- what we do area start -->
<div class="what-we-do-area-start rts-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="what-we-do-wrapper-about">
                    <p class="disc">
                        Luminous is a leading IT solutions company that provides innovative technology services to
                        businesses of all sizes. We specialize in cloud computing, cybersecurity, data analytics,
                        and custom software development.
                    </p>

                </div>
            </div>
        </div>
        <div class="row mt--40 g-5">
            <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-offset="120" data-wow-delay=".2s">
                <div class="what-we-do-main-wrapper">
                    <h5 class="title">What we do?</h5>
                    <p class="disc">
                        We bring together all the necessary technology and services to help our clients solve their
                        business problems.
                    </p>
                    <a href="#" class="rts-btn btn-border btn-bold">
                        Get in touch
                        <img src="~/Content/assets/images/service/icons/13.svg" alt="arrow">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-offset="120" data-wow-delay=".6s">
                <div class="what-we-do-main-wrapper">
                    <h5 class="title">Our Career</h5>
                    <p class="disc">
                        We bring together all the necessary technology and services to help our clients solve their
                        business problems.
                    </p>
                    <a href="#" class="rts-btn btn-border btn-bold">
                        Career
                        <img src="~/Content/assets/images/service/icons/13.svg" alt="arrow">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- what we do area end -->
<!-- about-iamge-feature-area -->
<div class="rts-image-feature-area">
    <div class="container-full">
        <div class="row">
            <div class="col-lg-6">
                <div class="thumbnail-about-mid jarallax">
                    <img class="jarallax-img" src="~/Content/assets/B-5.jpg" alt="about">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="thumbnail-about-mid jarallax">
                    <img class="jarallax-img" src="~/Content/assets/B-6.jpg" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-iamge-feature-area end -->
<!-- key benefits area start -->
<div class="keybenefits-area rts-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="benefits-area-title-wrapper">
                    <h3 class="title">Key Benefits</h3>
                </div>
            </div>
        </div>
        <div class="row g-0 mt--15">
            <div class="col-lg-3 çol-md-4 col-sm-6 col-12">
                <div class="single-benefits-area-wrapper bg-light">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-1.png" alt="benefits">
                    </div>
                    <h5 class="title">Accelerate Growth</h5>
                </div>
            </div>
            <div class="col-lg-3 çol-md-4 col-sm-6 col-12">
                <div class="single-benefits-area-wrapper">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-5.png" alt="benefits">
                    </div>
                    <h5 class="title">Boost Efficiency</h5>
                </div>
            </div>
            <div class="col-lg-3 çol-md-4 col-sm-6 col-12">
                <div class="single-benefits-area-wrapper bg-light">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-6.png" alt="benefits">
                    </div>
                    <h5 class="title">Collaboration</h5>
                </div>
            </div>
            <div class="col-lg-3 çol-md-4 col-sm-6 col-12">
                <div class="single-benefits-area-wrapper">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-7.png" alt="benefits">
                    </div>
                    <h5 class="title">Reduce Costs</h5>
                </div>
            </div>
            <div class="col-lg-3 çol-md-4 col-sm-6 col-12">
                <div class="single-benefits-area-wrapper">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-8.png" alt="benefits">
                    </div>
                    <h5 class="title">Netwroking</h5>
                </div>
            </div>
            <div class="col-lg-3 çol-md-4 col-sm-6 col-12">
                <div class="single-benefits-area-wrapper  bg-light">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-9.png" alt="benefits">
                    </div>
                    <h5 class="title">Global Translations</h5>
                </div>
            </div>
            <div class="col-lg-3 çol-md-4 col-sm-6 col-12">
                <div class="single-benefits-area-wrapper">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-10.png" alt="benefits">
                    </div>
                    <h5 class="title">Enhance Security</h5>
                </div>
            </div>
            <div class="col-lg-3 çol-md-4 col-sm-6 col-12">
                <div class="single-benefits-area-wrapper  bg-light">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-11.png" alt="benefits">
                    </div>
                    <h5 class="title">In-house techs</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- key benefits area end -->
<!-- service area start -->
<div class="gap-service-area rts-section-gap bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-area-center-inner-with-sub">
                    <span>Our services</span>
                    <h2 class="title">Cutting-edge IT Solutions</h2>
                    <p class="disc">
                        Offers a unified platform that fosters innovation while providing end-to-end data
                        management. See how we help your team solve today’s biggest challenges.
                    </p>
                </div>
            </div>
        </div>
        <div class="row g-5 mt--50">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-offset="120"
                 data-wow-delay=".2s">
                <div class="single-service-area-4 in-about-page">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-10.png" alt="service">
                    </div>
                    <div class="title-area">
                        <a href="service-single.html">
                            <h3 class="title animated fadeIn">IT Strategies</h3>
                            <img class="injectable" src="~/Content/assets/icons/Arrow-T.png" alt="icosn">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-offset="120"
                 data-wow-delay=".4s">
                <div class="single-service-area-4 in-about-page">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-1.png" alt="service">
                    </div>
                    <div class="title-area">
                        <a href="service-single.html">
                            <h3 class="title animated fadeIn">Cloud Migration</h3>
                            <img class="injectable" src="~/Content/assets/icons/Arrow-T.png" alt="icosn">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-offset="120"
                 data-wow-delay=".6s">
                <div class="single-service-area-4 in-about-page">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-6.png" alt="service">
                    </div>
                    <div class="title-area">
                        <a href="service-single.html">
                            <h3 class="title animated fadeIn">Cyber Security</h3>
                            <img class="injectable" src="~/Content/assets/icons/Arrow-T.png" alt="icosn">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-offset="120"
                 data-wow-delay=".8s">
                <div class="single-service-area-4 in-about-page">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-2.png" alt="service">
                    </div>
                    <div class="title-area">
                        <a href="service-single.html">
                            <h3 class="title animated fadeIn">Development</h3>
                            <img class="injectable" src="~/Content/assets/icons/Arrow-T.png" alt="icosn">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-offset="120"
                 data-wow-delay=".2s">
                <div class="single-service-area-4 in-about-page">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-12.png" alt="service">
                    </div>
                    <div class="title-area">
                        <a href="service-single.html">
                            <h3 class="title animated fadeIn">It Service</h3>
                            <img class="injectable" src="~/Content/assets/icons/Arrow-T.png" alt="icosn">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-offset="120"
                 data-wow-delay=".4s">
                <div class="single-service-area-4 in-about-page">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-11.png" alt="service">
                    </div>
                    <div class="title-area">
                        <a href="service-single.html">
                            <h3 class="title animated fadeIn">Design Service</h3>
                            <img class="injectable" src="~/Content/assets/icons/Arrow-T.png" alt="icosn">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-offset="120"
                 data-wow-delay=".6s">
                <div class="single-service-area-4 in-about-page">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-13.png" alt="service">
                    </div>
                    <div class="title-area">
                        <a href="service-single.html">
                            <h3 class="title animated fadeIn">Writing</h3>
                            <img class="injectable" src="~/Content/assets/icons/Arrow-T.png" alt="icosn">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-offset="120"
                 data-wow-delay=".8s">
                <div class="single-service-area-4 in-about-page">
                    <div class="icon">
                        <img src="~/Content/assets/icons/i-14.png" alt="service">
                    </div>
                    <div class="title-area">
                        <a href="service-single.html">
                            <h3 class="title animated fadeIn">Cloud Migratio</h3>
                            <img class="injectable" src="~/Content/assets/icons/Arrow-T.png" alt="icosn">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <a href="service.html" class="rts-btn btn-border btn-bold mt--80">
                    View all solutions
                    <img src="~/Content/assets/images/service/icons/13.svg" alt="arrow">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- service area end -->
<!-- brand area start -->
<div class="rts-brand-area-start rts-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-area-main-wrapper">

                    <div class="swiper mySwiper-brand" dir="ltr">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="single-brand">
                                    <img src="~/Content/assets/clients/C-1.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-brand">
                                    <img src="~/Content/assets/clients/C-2.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-brand">
                                    <img src="~/Content/assets/clients/C-3.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-brand">
                                    <img src="~/Content/assets/clients/C-1.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-brand">
                                    <img src="~/Content/assets/clients/C-2.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-brand">
                                    <img src="~/Content/assets/clients/C-3.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-brand">
                                    <img src="~/Content/assets/clients/C-1.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-brand">
                                    <img src="~/Content/assets/clients/C-2.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-brand">
                                    <img src="~/Content/assets/clients/C-3.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-brand">
                                    <img src="~/Content/assets/clients/C-1.png" alt="brand">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand area end -->
<!-- rts testimonials area start -->
<div class="rts-testimonials-area-about rts-section-gap bg-dark-1" dir="ltr">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonails-title-wrapper-between">
                    <h2 class="title">What they said about us</h2>
                    <div class="swiper-btn">
                        <div class="swiper-button-next"><i class="fa-regular fa-arrow-right"></i></div>
                        <div class="swiper-button-prev"><i class="fa-regular fa-arrow-left"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt--55">
                <div class="swiper-area-main-wrapper">
                    <div class="swiper mySwiper-testimonials-5">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="single-testimonials-about">
                                    <p class="disc">
                                        “Luminous transformed our agricultural business with their custom software
                                        solution. Their
                                        team developed an intuitive crop management system that has increased our
                                        yield by 30% and
                                        significantly reduced water waste.
                                    </p>
                                    <div class="author-area">
                                        <img src="~/Content/assets/TB-1.png" alt="team">
                                        <div class="information">
                                            <h5 class="title">Michael Chen</h5>
                                            <p>CTO of SwiftPay Financial</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-testimonials-about">
                                    <p class="disc">
                                        “Luminous transformed our agricultural business with their custom software
                                        solution. Their
                                        team developed an intuitive crop management system that has increased our
                                        yield by 30% and
                                        significantly reduced water waste.
                                    </p>
                                    <div class="author-area">
                                        <img src="~/Content/assets/TB-2.png" alt="team">
                                        <div class="information">
                                            <h5 class="title">Kolic Chen</h5>
                                            <p>CTO of SwiftPay Financial</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-testimonials-about">
                                    <p class="disc">
                                        “Luminous transformed our agricultural business with their custom software
                                        solution. Their
                                        team developed an intuitive crop management system that has increased our
                                        yield by 30% and
                                        significantly reduced water waste.
                                    </p>
                                    <div class="author-area">
                                        <img src="~/Content/assets/TB-3.png" alt="team">
                                        <div class="information">
                                            <h5 class="title">John Lee</h5>
                                            <p>CTO of SwiftPay Financial</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-testimonials-about">
                                    <p class="disc">
                                        “Luminous transformed our agricultural business with their custom software
                                        solution. Their
                                        team developed an intuitive crop management system that has increased our
                                        yield by 30% and
                                        significantly reduced water waste.
                                    </p>
                                    <div class="author-area">
                                        <img src="~/Content/assets/TB-1.png" alt="team">
                                        <div class="information">
                                            <h5 class="title">Michael Chen</h5>
                                            <p>CTO of SwiftPay Financial</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <!-- swiper main wrapper inner area  end -->
            </div>
        </div>
    </div>
</div>

