
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- rts-banner area start -->
<div class="rts-banner-area-start">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="banner-wrapper-one">
                    <span class="pre-title wow fadeInUp">Meet Zarch</span>
                    <h1 class="title wow fadeInUp" data-wow-delay=".3s">
                        IT solutions <br> for a <span>growing</span>
                        businesses
                    </h1>
                    <p class="wow fadeInUp" data-wow-delay=".5s">
                        Empowering enterprises with innovative technology
                        to stay ahead in the digital age
                    </p>
                    <a href="service.html" class="rts-btn btn-primary wow fadeInUp" data-wow-delay=".7s">
                        View Solutions
                        <img class="injectable" src="~/Content/assets/images/banner/01.svg" alt="icons">
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="right-clippath-wrapper d-flex">
                    <div class="left-image mt--120 mt_sm--70 jarallax jara-mask-1" data-speed=".7">
                        <img loading="lazy" rel="preload" class="jarallax-img" src="~/Content/assets/B-1.jpg"
                             alt="banner">
                    </div>
                    <div class="left-image jarallax jara-mask-1" data-speed=".7">
                        <img loading="lazy" rel="preload" class="jarallax-img" src="~/Content/assets/B-2.jpg"
                             alt="banner">
                    </div>
                    <div class="shape-image">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/video/shape/01.png" alt="shape"
                             class="one wow move-left">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/video/shape/02.png" alt="shape"
                             class="two wow move-left">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- rts-banner area end -->
<!-- large video area start -->
<div class="alrge-video-area rts-section-gap">
    <div class="shape-top">
        <img loading="lazy" rel="preload" src="~/Content/assets/images/video/shape/01.png" alt="" class="wow move-right"
             data-wow-offset="120">
    </div>
    <div class="shape-bottom">
        <img loading="lazy" rel="preload" src="~/Content/assets/images/video/shape/02.png" alt="" class="wow move-left"
             data-wow-offset="120">
    </div>
    <div class="container-large">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-video-top">
                    <p class="large">
                        We have built a <span class="wow move-right" data-wow-offset="120"> purpose-driven</span>
                        platform in the
                        Metaverse
                        to drive action and
                        cooperation and
                        to <span class="wow move-left" data-wow-offset="120">revolutionize</span> progress.
                    </p>
                    <p class="disc">
                        We have built a purpose-driven platform in the Metaverse to drive action and cooperation and
                        to revolutionize progress.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 mt--70">
                <div class="image--large-video jarallax">
                    <img class="jarallax-img" src="~/Content/assets/B-3.jpg" alt="large">
                    <div class="vedio-icone">
                        <a class="video-play-button play-video popup-video"
                           href="https://www.youtube.com/watch?v=vZE0j_WCRvI">
                            <span></span>
                        </a>
                        <div class="video-overlay">
                            <a href="#section1" class="video-overlay-close">×</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="large-video-bottom">
                    <h2 class="title wow fadeInUp" data-wow-delay=".1s">Download our Cloud Migration Guide</h2>
                    <p class="disc wow fadeInUp" data-wow-delay=".3s">
                        Learn best practices, avoid common pitfalls, and discover how to maximize the benefits of
                        cloud computing for your business.
                    </p>
                    <a href="service-single.html" class="rts-btn btn-primary wow fadeInUp" data-wow-delay=".5s"
                       style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                        View Solutions
                        <img class="injectable" src="~/Content/assets/images/service/icons/13.svg" alt="arrow">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- large video area end -->
<!-- solution expertiece -->
<div class="solution-expertice-area rts-section-gap bg-solution">
    <div class="top-left wow slideInLeft">
        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/02.png" alt="service">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-center-2">
                    <h2 class="title">Innovative solutions from experts!</h2>
                    <p>
                        Offers a unified platform that fosters innovation while providing end-to-end data management.
                        See how we help your team solve today’s biggest challenges.
                    </p>
                </div>
            </div>
        </div>
        <div class="row g-0 mt--70">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-solution-style-one border-left">
                    <div class="right-draw">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/01.png" alt="icons">
                    </div>
                    <div class="icon">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/01.svg" alt="service">
                    </div>
                    <h4 class="title">Fast and Reliable</h4>
                    <p class="disc">
                        Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page
                        and in the loop.
                    </p>
                    <a href="service-single.html" class="btn-arrow">
                        Service Details
                        <img class="injectable" src="~/Content/assets/images/icons/arrow-right.svg" alt="arrow">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-solution-style-one">
                    <div class="right-draw">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/01.png" alt="icons">
                    </div>
                    <div class="icon">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/02.svg" alt="service">
                    </div>
                    <h4 class="title">Discover Data Everywhere</h4>
                    <p class="disc">
                        Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page
                        and in the loop.
                    </p>
                    <a href="service-single.html" class="btn-arrow">
                        Service Details
                        <img class="injectable" src="~/Content/assets/images/icons/arrow-right.svg" alt="arrow">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-solution-style-one">
                    <div class="right-draw">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/01.png" alt="icons">
                    </div>
                    <div class="icon">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/03.svg" alt="service">
                    </div>
                    <h4 class="title">Enrich Data with Context</h4>
                    <p class="disc">
                        Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page
                        and in the loop.
                    </p>
                    <a href="service-single.html" class="btn-arrow">
                        Service Details
                        <img class="injectable" src="~/Content/assets/images/icons/arrow-right.svg" alt="arrow">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-solution-style-one border-left border-bottom-1">
                    <div class="right-draw">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/01.png" alt="icons">
                    </div>
                    <div class="icon">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/04.svg" alt="service">
                    </div>
                    <h4 class="title">Risk Management</h4>
                    <p class="disc">
                        Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page
                        and in the loop.
                    </p>
                    <a href="service-single.html" class="btn-arrow">
                        Service Details
                        <img class="injectable" src="~/Content/assets/images/icons/arrow-right.svg" alt="arrow">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-solution-style-one border-bottom-1">
                    <div class="right-draw">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/01.png" alt="icons">
                    </div>
                    <div class="icon">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/05.svg" alt="service">
                    </div>
                    <h4 class="title">Privacy Compliance</h4>
                    <p class="disc">
                        Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page
                        and in the loop.
                    </p>
                    <a href="service-single.html" class="btn-arrow">
                        Service Details
                        <img class="injectable" src="~/Content/assets/images/icons/arrow-right.svg" alt="arrow">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="single-solution-style-one border-bottom-1">
                    <div class="right-draw">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/01.png" alt="icons">
                    </div>
                    <div class="icon">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/service/icons/06.svg" alt="service">
                    </div>
                    <h4 class="title">Third-Party Management</h4>
                    <p class="disc">
                        Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page
                        and in the loop.
                    </p>
                    <a href="service-single.html" class="btn-arrow">
                        Service Details
                        <img class="injectable" src="~/Content/assets/images/icons/arrow-right.svg" alt="arrow">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="service.html" class="rts-btn btn-primary wow fadeInUp" data-wow-delay=".5s">
                    More Solutions
                    <img class="injectable" src="~/Content/assets/images/service/icons/13.svg" alt="arrow">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- solution expertiece end -->
<!-- counter area start -->
<div class="counter-up-wrapper">
    <div class="container-full">
        <div class="row g-0">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="single-counter-up-one">
                    <p>Accelerate Growth</p>
                    <h3 class="title">+<span class="counter">46</span>%</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="single-counter-up-one">
                    <p>Community users</p>
                    <h3 class="title"><span class="counter">24</span>M</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="single-counter-up-one">
                    <p>Enhance Security</p>
                    <h3 class="title"><span class="counter">89</span>%</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="single-counter-up-one">
                    <p>Reduce Costs</p>
                    <h3 class="title"><span class="counter">720</span>+</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter area end -->
<!-- commercial faq area -->
<div class="professional-faq-area rts-section-gap position-relative">
    <div class="shape-top">
        <img loading="lazy" rel="preload" src="~/Content/assets/images/video/shape/01.png" alt="" class="wow move-right"
             data-wow-offset="120">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center-title-bg-white">
                    <h2 class="title" style="font-size: 40px;">Common questions</h2>
                    <p>
                        Offers a unified platform that fosters innovation while providing end-to-end data management.
                        See how we help your team solve today’s biggest challenges.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt--80">
            <div class="col-lg-12">
                <div class="accordion-container-one">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How long has Zarch Tech been in business?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Offers a unified platform that fosters innovation while providing end-to-end
                                    data management. See how we help your team solve today’s biggest challenges.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What types of services does Zarch Tech offer?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Offers a unified platform that fosters innovation while providing end-to-end
                                    data management. See how we help your team solve today’s biggest challenges.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Does Zarch Tech work with small businesses or only large enterprises?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Offers a unified platform that fosters innovation while providing end-to-end
                                    data management. See how we help your team solve today’s biggest challenges.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    What technologies does Zarch Tech specialize in?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Offers a unified platform that fosters innovation while providing end-to-end
                                    data management. See how we help your team solve today’s biggest challenges.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                    How does Zarch Tech stay up-to-date with the latest technology trends?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Offers a unified platform that fosters innovation while providing end-to-end
                                    data management. See how we help your team solve today’s biggest challenges.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    How do I get started with Zarch Tech?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Offers a unified platform that fosters innovation while providing end-to-end
                                    data management. See how we help your team solve today’s biggest challenges.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt--80">
            <div class="col-lg-12 text-center">
                <p>
                    Still have a question? <a href="free-consultation.html" style="color: var(--color-primary);">
                        Feel
                        free to ask
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- commercial faq area end -->
<!-- testimonials area start -->
<div class="testimonials-area-start rts-section-gapTop bg-primary position-relative">
    <div class="shape-top-right wow slideInLeft" data-wow-offset="160">
        <img loading="lazy" rel="preload" src="~/Content/assets/images/testimonials/03.png" alt="testimopnials">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-between-wrapper">
                    <h2 class="title">Client Testimonials</h2>
                    <p class="disc">
                        At Zarch Tech IT Solutions, we take pride in the positive impact we've had on our clients'
                        businesses. Here are some testimonials from our satisfied customers:
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt--80">
            <div class="col-lg-12 ">
                <div class="swiper mySwiper-Testimonials" dir="ltr">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-testimonials-area-one">
                                <p class="disc">
                                    “Zarch Tech transformed our agricultural business with their custom software
                                    solution.
                                    Their
                                    team developed an intuitive crop management system that has increased our yield
                                    by
                                    30% and
                                    significantly reduced water waste. Their ongoing support has been invaluable.”
                                </p>
                                <div class="author-wrapper">
                                    <div class="avatar">
                                        <img loading="lazy" rel="preload" src="~/Content/assets/T-1.png"
                                             alt="testimonails-avatar">
                                    </div>
                                    <div class="information">
                                        <h6 class="title">Michael Chen</h6>
                                        <span class="desig">CTO of SwiftPay Financial</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonials-area-one">
                                <p class="disc">
                                    “Zarch Tech transformed our agricultural business with their custom software
                                    solution.
                                    Their
                                    team developed an intuitive crop management system that has increased our yield
                                    by
                                    30% and
                                    significantly reduced water waste. Their ongoing support has been invaluable.”
                                </p>
                                <div class="author-wrapper">
                                    <div class="avatar">
                                        <img loading="lazy" rel="preload" src="~/Content/assets/T-2.png"
                                             alt="testimonails-avatar">
                                    </div>
                                    <div class="information">
                                        <h6 class="title">Mr.Jakul</h6>
                                        <span class="desig">CTO of SwiftPay Financial</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonials-area-one">
                                <p class="disc">
                                    “Zarch Tech transformed our agricultural business with their custom software
                                    solution.
                                    Their
                                    team developed an intuitive crop management system that has increased our yield
                                    by
                                    30% and
                                    significantly reduced water waste. Their ongoing support has been invaluable.”
                                </p>
                                <div class="author-wrapper">
                                    <div class="avatar">
                                        <img loading="lazy" rel="preload" src="~/Content/assets/T-3.png"
                                             alt="testimonails-avatar">
                                    </div>
                                    <div class="information">
                                        <h6 class="title">Leard Joe</h6>
                                        <span class="desig">CTO of SwiftPay Financial</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonials-area-one">
                                <p class="disc">
                                    “Zarch Tech transformed our agricultural business with their custom software
                                    solution.
                                    Their
                                    team developed an intuitive crop management system that has increased our yield
                                    by
                                    30% and
                                    significantly reduced water waste. Their ongoing support has been invaluable.”
                                </p>
                                <div class="author-wrapper">
                                    <div class="avatar">
                                        <img loading="lazy" rel="preload" src="~/Content/assets/T-4.png"
                                             alt="testimonails-avatar">
                                    </div>
                                    <div class="information">
                                        <h6 class="title">Chen Joe</h6>
                                        <span class="desig">CTO of SwiftPay Financial</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonials area end -->
<!-- rts blog area strart -->
<div class="rts-blog-area rts-section-gap position-relative">
    <div class="shape-bottom">
        <img loading="lazy" rel="preload" src="~/Content/assets/images/video/shape/02.png" alt="" class="wow move-left"
             data-wow-offset="120">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center-title-bg-white">
                    <h2 class="title" style="font-size: 64px;">Latest insights</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt--50">
        <div class="row g-0 wow fadeInUp" data-wow-offset="120">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-blog-area-start border-left">
                    <a href="blog-details.html" class="thumbnail">
                        <img loading="lazy" rel="preload" src="~/Content/assets/P-1.jpg" alt="blog_iamge">
                    </a>
                    <div class="inner-content-area">
                        <div class="top-area">
                            <span>Cloud Migration</span>
                            <a href="blog-details.html">
                                <h3 class="title">Future of cloud computing</h3>
                            </a>
                            <p class="disc">
                                How do you create compelling presentations that wow your colleagues and impress your
                                managers?
                            </p>
                            <div class="bottom-author-area">
                                <img loading="lazy" rel="preload" src="~/Content/assets/TB-1.png"
                                     alt="author">
                                <div class="author-area-info">
                                    <h6 class="title">Lage Freeman</h6>
                                    <span>24 Sept 2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-blog-area-start">
                    <a href="blog-details.html" class="thumbnail">
                        <img loading="lazy" rel="preload" src="~/Content/assets/P-2.jpg" alt="blog_iamge">
                    </a>
                    <div class="inner-content-area">
                        <div class="top-area">
                            <span>UX Design</span>
                            <a href="blog-details.html">
                                <h3 class="title">UX review presentations</h3>
                            </a>
                            <p class="disc">
                                How do you create compelling presentations that wow your colleagues and impress your
                                managers?
                            </p>
                            <div class="bottom-author-area">
                                <img loading="lazy" rel="preload" src="~/Content/assets/TB-2.png"
                                     alt="author">
                                <div class="author-area-info">
                                    <h6 class="title">Rock Freeman</h6>
                                    <span>24 Sept 2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-blog-area-start">
                    <a href="blog-details.html" class="thumbnail">
                        <img loading="lazy" rel="preload" src="~/Content/assets/P-3.jpg" alt="blog_iamge">
                    </a>
                    <div class="inner-content-area">
                        <div class="top-area">
                            <span>Cyber Security</span>
                            <a href="blog-details.html">
                                <h3 class="title">Protecting your business</h3>
                            </a>
                            <p class="disc">
                                How do you create compelling presentations that wow your colleagues and impress your
                                managers?
                            </p>
                            <div class="bottom-author-area">
                                <img loading="lazy" rel="preload" src="~/Content/assets/TB-3.png"
                                     alt="author">
                                <div class="author-area-info">
                                    <h6 class="title">Marcus Freeman</h6>
                                    <span>24 Sept 2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="blog-grid.html" class="rts-btn btn-border">
                    View More Blog
                    <img class="injectable" src="~/Content/assets/images/service/icons/13.svg" alt="arrow">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- rts blog area end -->
<!-- rts cta area start -->
<div class="rts-cts-area">
    <div class="container">
        <div class="row">
            <div class="col-gl-12">
                <div class="cta-one-wrapper">
                    <div class="shape-area">
                        <img loading="lazy" rel="preload" src="~/Content/assets/images/testimonials/03.png" alt="cta-area">
                    </div>
                    <div class="left-area">
                        <h3 class="title wow fadeInUp" data-wow-delay=".1s">Book a Free Consultation</h3>
                        <p class="wow fadeInUp" data-wow-delay=".3s">
                            Schedule a no-obligation consultation to
                            discuss your unique needs and how Zarch Tech can
                            elevate your business technology.
                        </p>
                        <a href="contact.html" class="rts-btn btn-primary wow fadeInUp" data-wow-delay=".5s">
                            Schedule Now
                            <img class="injectable" src="~/Content/assets/images/service/icons/13.svg" alt="arrow">
                        </a>
                    </div>
                    <div class="right wow move-out" data-wow-offset="140">
                        <img loading="lazy" rel="preload" src="~/Content/assets/Shape-F.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- rts cta area end -->
