
@{
    ViewBag.Title = "TravelArrangements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-large">
    <!-- service area start -->
    <div class="travel-single-area-banner bg_image jarallax" data-jarallax="1.5">

    </div>
    <!-- service area end -->
</div>

<div class="service-area-details-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">

                    <div class="top">
                        <h1 class="title">Travel Arrangements</h1>
                        <p class="disc">
                            Offers a unified platform that fosters innovation while providing end-to-end data
                            management.
                        </p>
                    </div>
                    <div class="mid-content">
                        <p class="disc">
                            We're your strategic partners in digital transformation. With over a decade of
                            experience and a team of certified experts, we deliver tailored solutions that drive
                            growth, enhance efficiency, and secure your digital assets.
                        </p>
                        <p class="disc">
                            Luminous works with businesses of all sizes, from small startups to large enterprises.
                            We tailor our solutions to meet the specific needs and budget of each client offers a
                            wide range of IT services. As we invest heavily in ongoing training and professional
                            development for our team. We also participate in industry conferences, maintain
                            partnerships with leading technology providers, and conduct internal research and
                            development projects.
                        </p>
                        <p class="disc">
                            Luminous works with businesses of all sizes, from small startups to large enterprises.
                            We tailor our solutions to meet the specific needs and budget of each client offers a
                            wide range of IT services. As we invest heavily in ongoing training and professional
                            development for our team. We also participate in industry conferences, maintain
                            partnerships with leading technology providers, and conduct internal research and
                            development projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-image-mid-iamge-jarallax-area">
    <div class="container-large">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="thumbnail-area-large-service-detaile-mid jarallax jara-mask-1">
                    <img class="jarallax-img" src="~/Content/assets/S-13.jpg" alt="service">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="thumbnail-area-large-service-detaile-mid jarallax jara-mask-1">
                    <img class="jarallax-img" src="~/Content/assets/S-14.jpg" alt="service">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-area-details-wrapper border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <div class="mid-content">
                        <p class="disc">
                            We're your strategic partners in digital transformation. With over a decade of
                            experience and a team of certified experts, we deliver tailored solutions that drive
                            growth, enhance efficiency, and secure your digital assets.
                        </p>
                        <p class="disc">
                            Luminous works with businesses of all sizes, from small startups to large enterprises.
                            We tailor our solutions to meet the specific needs and budget of each client offers a
                            wide range of IT services. As we invest heavily in ongoing training and professional
                            development for our team. We also participate in industry conferences, maintain
                            partnerships with leading technology providers, and conduct internal research and
                            development projects.
                        </p>
                        <p class="disc">
                            Offers a unified platform that fosters innovation while providing end-to-end data
                            management. See how we help your team solve today’s biggest challenges.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>